---
import type { PageQuery } from "../gql/graphql";

import getPage from "../queries/getPage";
import Layout from "../layouts/Default.astro";
import ComponentRenderer from "../components/ComponentRenderer.astro";
import { SEO } from "astro-seo";
import { isPreview } from "../helpers";

const { page }: PageQuery = await getPage(
  "home",
  isPreview() ? "DRAFT" : "PUBLISHED"
);
---

<Layout>
  <SEO
    slot="seo"
    title={page?.title || ""}
    description={page?.description || ""}
    openGraph={{
      basic: {
        title: page?.title || "",
        type: "website",
        image: page?.ogImage?.url || "",
      },
      optional: {
        siteName: "SKNCRE, a Hygraph cosmetics brand demo",
      },
    }}
    twitter={{
      card: "summary_large_image",
      description: page?.description || "",
    }}
  />

  <section class="mb-12">
    <ComponentRenderer data={page?.components} />
  </section>
</Layout>
