<header class="bg-dark text-light mx-auto max-w-screen-2xl">
  <div
    class="mx-auto flex flex-wrap gap-4 justify-between items-center px-5 py-5 md:py-8"
  >
    <a class="flex space-x-2" href="/">
      <span class="font-bold font-title text-3xl self-end">skncre</span>
    </a>
    <nav class="flex flex-wrap gap-x-6 gap-y-2 items-center md:text-xl">
      <a href="/pdp/face-serum">face serum</a><a href="/pdp/face-cream"
        >face cream</a
      ><a href="/pdp/eye-contour">eye contour</a><a href="/pdp/bundle"
        >skncre bundle</a
      >
    </nav>
  </div>
</header>
