---
import { Image } from "astro:assets";
import ComponentRenderer from "./ComponentRenderer.astro";

interface Props {
  __typename: string;
  image: {
    url: string;
  };
  components: any;
}

const { image, components } = Astro.props;
---

<section class="flex flex-col lg:flex-row bg-light justify-between p-8 lg:p-12">
  <div class="flex flex-col items-stretch w-full lg:w-2/4">
    <ComponentRenderer data={components} />
  </div>
  <Image
    src={image.url}
    alt="Editorial Image"
    width={1000}
    height={1504}
    class="w-full lg:w-2/4 mt-8 lg:mt-0 lg:ml-12 object-cover"
    widths={[640, 1000, 1280]}
    sizes="50vw"
    loading="eager"
  />
</section>
